.center{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 85%;
  height: 85%;
  padding: 25px;

}

html, body{
  height: 100%;
  margin: 0px;
  padding: 0px;
}

.parentparent{
  display: table;
  height: 100%;
  margin: 0 auto;
  padding: 5px;
}

h1{
  text-align: center;
  padding: 10px;
}

.parent{
  display: table-cell;
  vertical-align: middle;
}

.vCenterItems {
    display: flex;
    align-items: center;
}

.text-input{
  font-size: 25px;
}
